<context id="BehaviourSimulator" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	<projection id="space" type="continuous space"></projection>
	<projection id="grid" type="grid"></projection>
	<projection id="walls" type="value layer"></projection>
</context>